<body>
  <div class="container">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="write-post">
        <h2>Write a Post</h2>
        <input
          type="text"
          class="write-post-title"
          placeholder="Enter the post title"
          formControlName="title"
        />
        <span
          class="text-danger"
          *ngIf="submitted && title?.errors?.['required']"
        >
          Title is required
        </span>
        <textarea
          class="write-post-textarea"
          placeholder="What's on your mind?"
          formControlName="body"
        ></textarea>

        <button class="submit-post" type="submit">Submit Post</button>
        <span
          class="text-danger"
          *ngIf="submitted && title?.errors?.['required']"
        >
          Body is required
        </span>
      </div>
    </form>
    <div class="post" *ngFor="let post of allPost.data">
      <h2>{{ post.title }}</h2>
      <p>
        {{ post.body }}
      </p>
      <button class="delete-btn" (click)="deletePost(post.id)">Delete</button>
      <div class="actions">
        <button>Like</button>
        <button>Comment</button>
      </div>
      <app-comment></app-comment>
    </div>
  </div>
</body>
