<div class="reset-password-container">
  <div class="reset-password-box">
    <h2>Reset Password</h2>
    <p class="instructions">Please enter your new password below.</p>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="new-password">New Password</label>
        <input
          type="password"
          id="new-password"
          name="new-password"
          placeholder="Enter your new password"
          formControlName="newPassword"
        />
        <span
          class="text-danger"
          *ngIf="
            newPassword?.touched && newPassword?.errors?.['required']
          "
        >
          Password is required
        </span>
        <span
          class="text-danger"
          *ngIf="
            newPassword?.touched && newPassword?.errors?.['minlength']
          "
        >
          Password must be at least 6 characters long
        </span>
      </div>

      <div class="input-group">
        <label for="confirm-password">Confirm Password</label>
        <input
          type="password"
          id="confirm-password"
          name="confirm-password"
          placeholder="Confirm your password"
          formControlName="confirmPassword"
        />
        <span
          class="text-danger"
          *ngIf="
            confirmPassword?.touched && confirmPassword?.errors?.['required']
          "
        >
          Confirmation is required
        </span>
        <span
          class="text-danger"
          *ngIf="
            confirmPassword?.touched &&
            resetPasswordForm.hasError('passwordMismatch')
          "
        >
          Passwords do not match
        </span>
      </div>

      <button type="submit" class="btn" [disabled]="!resetPasswordForm.valid">
        Reset Password
      </button>
    </form>
    <p class="back-to-login">
      <a routerLink="/login">Back to Login</a>
    </p>
    <div
      class="alert"
      [ngClass]="
        alertType === 0
          ? 'alert-success'
          : alertType === 1
          ? 'alert-warning'
          : 'alert-danger'
      "
      *ngIf="alertMessage !== ''"
    >
      {{ alertMessage }}
    </div>
  </div>
</div>
